@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 43.88px;
        color: black;
    }

    .section-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #555555;
    }

    .car-types-btn-border{
        border: 1.5px solid lightgray;
    }

    .tab-element-light-default{
        background-color: white;
        color: black;
    }

    .tab-element-dark-default{
        background-color: theme('colors.main-black');
        color: white;
    }

    .tab-active-element{
        background-color: theme('colors.main-green');
        color: white;
        border-color: theme('colors.main-green');
    }
}