.swiper-button-prev, .swiper-button-next{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    top: unset;
    right: 40px;
    bottom: 40px;
}

.swiper-button-prev{
    left: unset;
    right: 80px;
}

.swiper-button-prev::after, .swiper-button-next::after{
    content: '';
}

.swiper-pagination {
    width: fit-content !important;
    top: 87%;
    left: 40px !important;
}

.swiper-pagination-bullet {
    background-color: #FFF !important;
    opacity: .5;
    transition: .3s linear;
}

.swiper-pagination-bullet-active {
    background-color: #FFF !important;
    opacity: 1;
    width: 30px;
    border-radius: 100px;
}